# Ignore configuration files that may contain sensitive information.
webroot/sites/*/settings.*.php

# Ignore paths that contain user-generated content.
webroot/sites/*/files
webroot/sites/*/private
webroot/sites/all/translations

# Ignore devel modules and files
webroot/sites/all/modules/hacked
webroot/sites/all/modules/diff

/sql

sites/all/themes/pluto
.htaccess
/.idea
