# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# dev
sites/all/modules/stage_file_proxy
sites/all/modules/reroute_email
sites/all/modules/devel